@inject IConfiguration _configuration;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var health_region = new Dictionary<int, string>() { { 1, "Ontario" }, { 2, "Qubeac" }, { 3, "Alberta" }, { 4, "X" } };

    var gender = new Dictionary<int, string>() { { 1, "Male" }, { 2, "Female" }, { 3, "X" }, { 4, "Unknown" } };

    var address_type = new Dictionary<int, string>() { { 1, "Home" }, { 2, "business" } };

    
}



<div id="content" class="container-fluid">
    <div class="d-flex flex col-12 g-2">
        <div id="targetId" hidden></div>
        <div id="targetCallback" hidden></div>
        <div class="col-2">
            <div>
                <img src="~/images/head_man-silhouette.jpg" width="120" height="120" />              
            </div>            
        </div>
        <div class="col-10 py-4">
            <div class="d-flex flex col-md-12">
                <div class="d-flex flex col-3 px-2">
                    <div class="col-3">
                        <label class="col-form-label">First Name</label>                    
                    </div>
                    <div class="col-9"> 
                        <input class="form-control bg-warning bg-opacity-10" name="txtFirstName" type="text" id="txtFirstName" tabindex="0">
                    </div>           
                </div> 
                <div class="d-flex flex col-3 px-2">
                    <div class="col-3">
                        <label class="col-form-label">Last Name</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control bg-warning bg-opacity-10" name="txtLastName" type="text" id="txtLastName" tabindex="0" />
                    </div>
                </div>
                <div class="d-flex flex col-3 px-2">
                    <div class="col-3">
                        <label  class="col-form-label">Health Number</label>
                    </div>
                    <div class="col-9">                  

                        <div class="input-group mb-3">
                            
                            <input class="form-control bg-warning bg-opacity-10" name="txtHealthNumber" type="text" id="txtHealthNumber" tabindex="0" />
                            <button class="btn btn-outline-primary" type="button" id="btnHealthNumber" onclick="GetPatient(); return;">...</button>
                        </div>

                        
                    </div>
                </div>           

            </div>

            <div class="d-flex flex col-md-12 py-4">                
                <div class="d-flex flex col-3 px-2">
                    <div class="col-3">
                        <label class="col-form-label">Title:</label>                        
                    </div>
                    <div class="col-9">
                        <input class="form-control" name="txtTitle" type="text" id="txtTitle" tabindex="0" />
                    </div>
                </div>          
                <div class="d-flex flex col-3 px-2">
                    <div class="col-3">
                        <label class="col-form-label">Suffix:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" name="txtSuffix" type="text" id="txtSuffix" tabindex="0" />
                    </div>           
                </div>
                <div class="d-flex flex col-3 px-2">
                    <div class="col-3">
                        <label class="col-form-label">Patient Status:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" name="txtPatientStatus" type="text" id="txtPatientStatus" tabindex="0" />
                    </div>                  
                   
                </div>      
            </div>
        </div>
    </div>

    <div class="row g-1 py-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-0" data-bs-toggle="tab" href="#tbDemographic" role="tab" aria-controls="tbDemographic" aria-selected="true">Demographic</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-1" data-bs-toggle="tab" href="#tbProviders" role="tab" aria-controls="tbProviders" aria-selected="false" onclick="LoadProvidersTable(); return;">Providers</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="simple-tab-2" data-bs-toggle="tab" href="#tbSchadule" role="tab" aria-controls="tbSchadule" aria-selected="false" onclick="LoadCalender(); return;"> Schadule </a>
            </li>
        </ul>
        <div class="tab-content pt-5" id="tab-content">
            <div class="tab-pane active" id="tbDemographic" role="tabpanel" aria-labelledby="tab-0">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-1 py-2">
                            <div class="col-12">
                                <div class="d-flex flex col-12">
                                    <div class="d-flex flex col-4">
                                        <div class="col-2">
                                            <label class="col-form-label">Health #</label>
                                        </div>
                                        <div class="col-4">
                                            <input class="form-control bg-warning bg-opacity-10" name="txtHealthNumber2" type="text" id="txtHealthNumber2" tabindex="0" />
                                        </div>
                                        <div class="col-4">
                                            <div>
                                                <select class="form-control" name="ddlHealthRegion" id="ddlHealthRegion">
                                                    <option value="" selected disabled>Select Health Region</option>
                                                    @foreach (var item in health_region)
                                                    {
                                                        <option value="@item.Key">@item.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>                           
                                    </div>
                                    <div class="px-2 d-flex flex col-3">
                                        <div class="col-2">
                                            <label class="col-form-label">Expiry</label>
                                        </div>
                                        <div class="col-8">
                                            <input class="form-control" name="txtExpiry" type="text" id="txtExpiry" tabindex="0" />
                                        </div>                                       
                                    </div>
                                    <div class="px-2 d-flex flex col-4">
                                        <div class="col-3">
                                            <label class="col-form-label px-2">File Number</label>
                                        </div>
                                        <div class="col-4">
                                            <input class="form-control" name="txtFileNumber" type="text" id="txtFileNumber" tabindex="0" />
                                        </div>
                                        <div class="col-2">
                                            <button type="button" class="form-control btn btn-outline-dark"> File </button>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-success" onclick="UpdateOrCreateDemographics(); return;"> Update or Create </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="d-flex flex col-8">
                                <div class="d-flex flex col-3">
                                    <div class="col-4">
                                        <label class="col-form-label"> Birth Date </label>
                                    </div>
                                    <div class="col-8">
                                        <input class="form-control" name="txtBirthDate" type="text" id="txtBirthDate" tabindex="0" />
                                    </div>                             
                                </div>
                                <div class="d-flex flex col-3">
                                    <div class="col-3">
                                        <label class="col-form-label px-2"> Gender </label>
                                    </div>
                                    <div class="col-8">
                                        <div>
                                            <select class="form-control" name="ddlGender" id="ddlGender">
                                                <option value="" selected disabled>Select Gender</option>
                                                @foreach (var item in gender)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="d-flex flex col-6">
                                    <div class="col-2">
                                        <label class="col-form-label px-2"> Deceased </label>
                                    </div>
                                    <div class="col-1 py-2">
                                        <input class=" form-control form-check-input px-2" type="checkbox" value="" id="isDeceased" >
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control px-2" name="txtDeceasedDate" type="text" id="txtDeceasedDate" tabindex="0" disabled />
                                    </div>                        
                                </div>                                
                            </div>
                            <div class="d-flex flex col-8 py-2">
                                <div class="col-1">
                                    <label class="col-form-label"> FamilyPhys </label>
                                </div>  
                                 <div class="col-3 px-2">                           
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-warning bg-opacity-10" id="txtFamilyPhys" placeholder="Family Physician">
                                        <input class="btn btn-outline-primary form-control" type="button" name="btnChoosePhysician" value="Family Physician" data-bs-toggle="modal" data-bs-target="#popRefPhysician" id="btnEditPhn" tabindex="0" onclick="AddFamilyPhysician(); return;">
                                    </div>
                                </div>
                                <div class="col-1 px-4">
                                    <label class="col-form-label px-2"> RefPhys </label>
                                </div>
                                <div class="col-5">                                    
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-warning bg-opacity-10" id="txtRefPhys" placeholder="Refering Physician">
                                        <input class="btn btn-outline-primary form-control" type="button" name="btnChoosePhysician" value="Refering Referring Physician" data-bs-toggle="modal" data-bs-target="#popRefPhysician" id="btnEditPhn" tabindex="0" onclick="AddRefPhysician(); return;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">                            
                            <div class="d-flex flex col-12">
                                <div class="d-flex flex col-3">
                                    <div class="d-flex flex col-2">
                                        <label class="col-form-label">Address</label>

                                    </div>
                                    <div class="d-flex flex col-9">
                                        <input class="form-control bg-warning bg-opacity-10" name="txtAddress" type="text" id="txtAddress" tabindex="0" />
                                    </div>
                                </div>                                

                                <div class="d-flex flex col-3">
                                    <div class="d-flex flex col-1">
                                        <label class="col-form-label">City</label>
                                    </div>
                                    <div class="d-flex flex col-10">
                                        <input class="form-control bg-warning bg-opacity-10" name="txtCity" type="text" id="txtCity" tabindex="0" />
                                        <div class="col-5">
                                            <select class="form-control" name="ddlProv" id="ddlProv">
                                                <option value="" selected disabled>Select Prov</option>
                                                @foreach (var item in health_region)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </select>
                                        </div>


                                    </div>

                                </div>

                                <div class="d-flex flex col-3">
                                    <div class="d-flex flex col-3">
                                        <label class="col-form-label">Postal/Zip</label>
                                    </div>
                                    <div class="d-flex flex col-9">
                                        <input class="form-control bg-warning bg-opacity-10" name="txtPostal" type="text" id="txtPostal" tabindex="0" />
                                    </div>

                                </div>

                                <div class="d-flex flex col-2">
                                    <div class="d-flex flex col-4 px-4">
                                        <label class="col-form-label">Type</label>
                                    </div>
                                    <div class="d-flex flex col-6">
                                        <div>
                                            <select class="form-control" name="ddlAddressType" id="ddlAddressType">
                                                <option value="" selected disabled>Select Type</option>
                                                @foreach (var item in address_type)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </select>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>                  
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex col-12">
                            <div class="d-flex flex col-3">
                                <div class="d-flex flex col-3">
                                    <label class="col-form-label">Phone Home</label>
                                </div>
                                <div class="d-flex flex col-9">
                                    <input class="form-control bg-warning bg-opacity-10" name="txtPhoneHome" type="text" id="txtPhoneHome" tabindex="0" />
                                </div>

                                
                                

                            </div>
                            <div class="d-flex flex col-3 px-2">
                                <div class="d-flex flex col-3">
                                    <label class="col-form-label"> Phone Work</label>
                                </div>
                                <div class="d-flex flex col-9">
                                    <div class="d-flex flex col-10">

                                        <input class="form-control bg-warning bg-opacity-10" name="txtPhoneWork" type="text" id="txtPhoneWork" tabindex="0" />

                                    </div>
                                    <div class="d-flex flex col-2">
                                        <input class="form-control bg-warning bg-opacity-10" name="txtPhoneWorkExt" type="text" id="txtPhoneWorkExt" tabindex="0" size="3" />
                                    </div>
                                </div>
                                                    
                                

                            </div>
                            
                            <div class="d-flex flex col-3 px-2">
                                <div class="d-flex flex col-3">
                                    <label class="col-form-label "> Phone Cell</label>
                                </div>
                                <div class="d-flex flex col-3">
                                    <input class="form-control bg-warning bg-opacity-10" name="txtPhoneCell" type="text" id="txtPhoneCell" tabindex="0" />
                                </div>
                                
                               

                            </div>
                            
                           
                           
                        </div>                
                    </div>
                </div>       
            </div>
            <div class="tab-pane" id="tbProviders" role="tabpanel" aria-labelledby="ab-1">
                 <div class="input-group">
                    <input type="text" class="form-control bg-warning bg-opacity-10" id="txtProviderNumnber" placeholder="Provider Number">
                    <input class="btn btn-outline-primary form-control" type="button" name="btnCreateProvider" value="Create or Update" id="btnProviderId" tabindex="0" onclick="CreateNewProvider(); return;">
                </div>
      
                <div id="tableHide" class="table-responsive overflow-hidden">
                    <table id="providersTable" class="table table-hover table-bordered" width="100%"
                           cellspacing="0">
                        <thead>
                            <tr id="PendingHeadings"> </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="tbSchadule" role="tabpanel" aria-labelledby="tbSchadule">
                <div width="100%">
                    @* <img src="~/images/calendar.png" /> *@
                    <div class="mb-4" id='calendar'></div>
                </div>
                

            </div>
        </div>

    </div>

</div>

<!-- Modal popRefPhysician -->
<div class="modal fade" id="popRefPhysician" tabindex="-1" role="dialog" aria-labelledby="popRefPhysician" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Physician</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="width:20px">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="d-flex flex-column px-2 py-2">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    </div>
                    <section class="card-body" id="popRefPhysicianBody">
                        <div> Search Parameters: </div>
                        <div class="mb-1 row">
                            <label class="col-form-label col-3">Physician ID: </label>
                            <div class="col-9">
                                <input class="col-9 form-control" name="txtPhysicianID" type="text" id="txtPhysicianID" style="width:190px;">
                            </div>
                        </div>
                       
                        <div class="mb-1 row">
                            <label class="col-form-label col-3">Last Name: </label>
                            <div class="col-9">
                                <input class="col-9 form-control" name="txtPhysicianLastName" type="text" id="txtPhysicianLastName" style="width:190px;">
                            </div>
                        </div>
                        <div class="mb-1 row">
                            <label class="col-form-label col-8"></label>
                            <div class="col-2">
                                <button class="btn btn-primary" name="btnSearch" onclick="ChoosePhysician(); return;" type="button" id="btnSearch"> Search </button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary" name="btnCancel" onclick="ClearPhysicianSearch(); return;" type="button" id="btnCancel"> Clear </button>
                            </div>
                        </div>

                        <div class="mb-1">
                            <label class="col-form-label">Select Physician</label>
                            <div class="">
                                <select class="form-control" size="25" name="PhysicianSearchResult" type="text" id="PhysicianSearchResult" style="width:755px; height:200px; ">
                                </select>
                            </div>
                        </div>
                    </section>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnRefPhysicianCancel" onclick="CancelRefPhysician(); return false;">Cancel</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnRefPhysicianUpdate" onclick="SelectRefPhysician(); return false;">Select</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!-- Modal popRefPhysician -->
<div class="modal fade" id="popProvider" tabindex="-1" role="dialog" aria-labelledby="popProvider" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px">
            <div class="modal-header">
                <h5> Update or Create </h5>
            </div>
            <div class="d-flex flex-column px-2 py-2">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    </div>
                    <section class="card-body" id="popProviderBody">

                    </section>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnProviderCancel" onclick="CancelProviderUpdate(); return false;">Cancel</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnProviderUpdate" onclick="ProviderUpdate(); return false;">Update</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- Modal popSchaduleEvent -->
<div class="modal fade" id="popSchaduleEvent" tabindex="-1" role="dialog" aria-labelledby="popSchaduleEvent" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">A Mikel</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="width:20px">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="d-flex flex-column px-2 py-2">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                    </div>
                    <section class="card-body" id="popSchaduleEventBody">
                        <h3 class="py-4"> Event Detial </h3>
                        <div class="mb-1 row">
                            <label class="col-form-label col-2"> Available </label>
                            <div class="col-3">
                                <input class="form-control" name="txtAvailable" type="text" id="txtAvailable" style="width:190px;">
                            </div>
                            <label class="col-form-label col-2 px-4">Status</label>
                            <div class="col-3">
                                <input class="form-control" name="txtStatus" type="text" id="txtStatus" style="width:190px;">
                            </div>
                        </div>
                        <div class="mb-1 row">
                            <label class="col-form-label col-2"> Reason </label>
                            <div class="col-3">
                                <input class="form-control" name="txtReason" type="text" id="txtReason" style="width:190px;">
                            </div>

                        </div>

                        <div class="mb-1 row">
                            <label class="col-form-label col-2">Creator </label>
                            <div class="col-3">
                                <input class="form-control" name="txtCreator" type="text" id="txtCreator" style="width:190px;">
                            </div>
                            <label class="col-form-label col-2 px-4">Date</label>
                            <div class="col-3">
                                <input class="form-control" name="txtDate" type="text" id="txtDate" style="width:190px;">
                            </div>
                        </div>

                        <div class="mb-1 row">
                            <label class="col-form-label col-2">Hour </label>
                            <div class="col-3">
                                <input class="form-control" name="txtHour" type="text" id="txtHour" style="width:190px;">
                            </div>
                            <label class="col-form-label col-2 px-4">Priority</label>
                            <div class="col-3">
                                <input class="form-control" name="txtPriority" type="text" id="txtPriority" style="width:190px;">
                            </div>
                        </div>
                        <div class="mb-1 row">
                            <label class="col-form-label col-2">Provider Name</label>
                            <div class="col-3">
                                <input class="form-control" name="txtProName" type="text" id="txtProName" style="width:190px;">
                            </div>
                            <label class="col-form-label col-2 px-4">Specialty</label>
                            <div class="col-3">
                                <input class="form-control" name="txtSpecialty" type="text" id="txtSpecialty" style="width:190px;">
                            </div>
                        </div>

                        @* <div class="mb-1 row">
                        <label class="col-form-label col-8"></label>
                        <div class="col-2">
                        <button class="btn btn-primary" name="btnSearch" onclick="ChoosePhysician(); return;" type="button" id="btnSearch"> Search </button>
                        </div>
                        <div class="col-2">
                        <button class="btn btn-secondary" name="btnCancel" onclick="ClearPhysicianSearch(); return;" type="button" id="btnCancel"> Clear </button>
                        </div>
                        </div> *@
                        @*
                        <div class="mb-1">
                        <label class="col-form-label">Select Physician</label>
                        <div class="">
                        <select class="form-control" size="25" name="PhysicianSearchResult" type="text" id="PhysicianSearchResult" style="width:755px; height:200px; ">
                        </select>
                        </div>
                        </div> *@
                    </section>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnRefPhysicianCancel">Cancel</button>
                        @*  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnRefPhysicianUpdate" onclick="SelectRefPhysician(); return false;">Select</button> *@
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<link href='~/fullcalendar/packages/core/main.css' rel='stylesheet' />
<link href='~/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

<script src="~/fullcalendar/packages/core/main.js"></script>
<script src="~/fullcalendar/packages/interaction/main.js"></script>
<script src="~/fullcalendar/packages/daygrid/main.js"></script>
<script src="~/fullcalendar/packages/timegrid/main.js"></script>
<script src="~/fullcalendar/packages/list/main.js"></script>

@section Scripts{

    <script type="text/javascript">

        var APIUrl = '@_configuration["App:APIUrl"]';
        var GenderList = @Json.Serialize(gender);
        var RegionList = @Json.Serialize(health_region);

        var AddressTypeList = @Json.Serialize(address_type);

        console.log("API", APIUrl);

        window.addEventListener("DOMContentLoaded", (event) => {

            //LoadTempTable();

            console.log(getAbsolutePixelDistance(13, 23));
        })

        function GetPatient(){

            let patientNumber = $('#txtHealthNumber').val();

            GetThisPatient(patientNumber)

        }

        async function UpdateOrCreateDemographics(){

            var hin = $('#txtHealthNumber2').val();

            var healthRegion = GetElementAndSelectedValue("#ddlHealthRegion")
            //ddlHealthRegion
            

            var end_date = $('#txtExpiry').val();
            var first_name = $('#txtFirstName').val();
            var last_name = $('#txtLastName').val();
            var title = $('#txtTitle').val();

            var patient_status = $('#txtPatientStatus').val();
            var dob = $('#txtBirthDate').val();

            var sex = GetElementAndSelectedValue("#ddlGender");

            var family_doctor = $('#txtFamilyPhys').val();

            var alias = $('#txtRefPhys').val();

            var address = $('#txtAddress').val();

            var city = $('#txtCity').val();

            var postal = $('#txtPostal').val();

            var phone = $('#txtPhoneHome').val();
            var phone2 = $('#txtPhoneWork').val();        

            
            
            var data = JSON.stringify({ "demographic_no": 0, "hin": hin, "title": title, "first_name": first_name, "last_name": last_name,"sex": sex,  "dob": dob,  "address": address,
                                   "city": city, "postal": postal, "phone": phone, "phone2": phone2, "ver": healthRegion, "end_date": end_date, 
                                   "patient_status": patient_status, "family_doctor": family_doctor, "alias": alias   
            });

            console.log("pdata", data);

            const response = await fetch(APIUrl + "UpdateDemographic", {
                method: 'POST',
                headers: new Headers({
                    "Content-Type": "application/json",
                }),
                body: data
            })
                .then(response => response.json())
                .then(response => {

                })

        }

        async function LoadProvidersTable() {

            const response = await fetch(APIUrl + "GetProviders", {
                method: 'GET',
                headers: new Headers({
                    "Content-Type": "application/x-www-form-urlencoded",
                })
            })
                .then(response => response.json())
                .then(response => {

                    //console.log("result:", response)

                    loadProviderable(response, document.getElementById("providersTable"));

                })
        }

        async function GetThisPatient(pid) {

            console.log("GetPatient", APIUrl, pid);

            const response = await fetch(APIUrl + "GetDemographic/" + pid, {
                method: 'GET',
                headers: new Headers({                  
                    "Content-Type": "application/x-www-form-urlencoded",
                })
            })
                .then(response => response.json())
                .then(response => {

                    console.log("result:", response)

                    if (response.demographic_no === 0){
                        ClearPatientFormData();
                    }
                    else{
                        LoadPatientFormData(response, pid);    
                    }                   
                })
        }

        function ClearPatientFormData(){
            console.log("form is clearing");

            SetDivElementText("txtFirstName", "");
            SetDivElementText("txtLastName", "");
            SetDivElementText("txtTitle", "");
            SetDivElementText("txtSuffix", "");
            SetDivElementText("txtPatientStatus", "");
            SetDivElementText("txtHealthNumber2", "");

            //let dob = patient.year_of_birth + "/" + patient.month_of_birth + "/" + patient.date_of_birth;
            SetDivElementText("txtBirthDate", "");

            SetDivElementText("txtAddress", "");
            SetDivElementText("txtCity", "");
            SetDivElementText("txtPostal", "");


            UpdateDropDown("Select Gender", "ddlGender", "Select Gender", GenderList);
            UpdateDropDown("Select Health Region", "ddlHealthRegion", "Select Health Region", RegionList);
            UpdateDropDown("Select Type", "ddlAddressType", "Select Type", AddressTypeList);
            UpdateDropDown("Select Health Region", "ddlProv", "Select Health Region", RegionList);

            SetDivElementText("txtPhoneHome", "");
            SetDivElementText("txtPhoneCell", "");
        }

        function CancelProviderUpdate(){

            

        }

       

        function LoadPatientFormData(patient, id) { 
            
            let dob = patient.year_of_birth + "/" + patient.month_of_birth + "/" + patient.date_of_birth;



            SetDivElementText("textCurrentSubject", patient.last_name + ", " + patient.first_name + " " + dob);
            //SetDivElementText("textCurrentSubject", "ahmed");
            SetDivElementText("txtFirstName", patient.first_name);
            SetDivElementText("txtLastName", patient.last_name);
            SetDivElementText("txtTitle", patient.title);
            SetDivElementText("txtSuffix", "");
            SetDivElementText("txtPatientStatus", "Active");
            SetDivElementText("txtHealthNumber2", id);

           
            SetDivElementText("txtBirthDate", dob);

            SetDivElementText("txtAddress", patient.address);
            SetDivElementText("txtCity", patient.city);
            SetDivElementText("txtPostal", patient.postal);


            UpdateDropDown(patient.sex, "ddlGender", "Select Gender", GenderList);
            UpdateDropDown("Ontario", "ddlHealthRegion", "Select Health Region", RegionList);
            UpdateDropDown("Home", "ddlAddressType", "Select Type", AddressTypeList);          

            UpdateDropDown("Ontario", "ddlProv", "Select Health Region", RegionList);
            SetDivElementText("txtPhoneHome", patient.phone);
            SetDivElementText("txtPhoneCell", patient.phone2);     

        }

        function UpdateDropDown(valueToSet, id, defaultValue, items) {

            let currentElement = document.getElementById(id);            
            currentElement.innerHTML = "";
            const firtsItem = document.createElement("option");
            firtsItem.setAttribute("value", "");
            firtsItem.textContent = defaultValue; 
            firtsItem.setAttribute("selected", "disabled");
            currentElement.appendChild(firtsItem);
            for (const [key, value] of Object.entries(items)) {
                //console.log(key, value.systemEmail);
                const item = document.createElement("option");
                item.setAttribute("value", key);
                if (value == valueToSet) {
                    item.setAttribute("selected", "selected");
                }
                item.textContent = value;

                currentElement.appendChild(item);
            }
        }

        function SetDivElementText(id, value) {
            let currentElement = document.getElementById(id);
            currentElement.setAttribute("value", value);
            currentElement.innerHTML = value;
        }

        function ApplyPhysicianData(pSearch) {

            UpdatePhysicianSearchResult(pSearch, "PhysicianSearchResult");

        }

        function UpdatePhysicianSearchResult(items, id) {

            let currentElement = document.getElementById(id);

            for (const [key, value] of Object.entries(items)) {
                //console.log(key, value.systemEmail);
                const item = document.createElement("option");
                item.setAttribute("value", value.PhysicianUID);
                item.textContent = value.id + " " + value.lastName

                currentElement.appendChild(item);
            }

        }
               
        function ClearPhysicianSearch() {
            ClearInnerElement("PhysicianSearchResult");
            ClearTextElement("txtPhysicianID");            
            ClearTextElement("txtPhysicianLastName");
        }

        function AddRefPhysician() {
            ClearPhysicianSearch();
            SetDivElementValue("#targetId", "txtRefPhys");
            SetDivElementValue("#targetCallback", "SetDivElementText");

        }

        function AddFamilyPhysician() {
            ClearPhysicianSearch();
            SetDivElementValue("#targetId", "txtFamilyPhys");
            SetDivElementValue("#targetCallback", "SetDivElementText");
        }

        async function ProviderUpdate() {

            var providerNumber = $('#txtProviderNumnber').val();
            var providerLastName = $('#txProviderLastName').val();
            var providerFirstName = $('#txtProviderFirstName').val();
            var providerDob = $('#txtProviderDob').val();
            var providerSex = $('#txtProviderSex').val();

            var txtTitle = $('#txtTitle').val();
            var specialty = $('#txtSpecialty').val();
            var email = $('#txtEmail').val();
            var workPhone = $('#txtWorkPhone').val();

            var providerPhone = $('#txtProviderPhone').val();
            var status = $('#txtStatus').val();
            var ohipNumber = $('#txtOhipNumber').val();
            var providerPhone = $('#txtProviderPhone').val();

            var status = $('#txtStatus').val();
            var ohipNumber = $('#txtOhipNumber').val();
            var practitionerNumber = $('#txtPractitionerNumber').val();
            var rmaNumber = $('#txtRMANumber').val();

            var hsoNumberus = $('#txtHSONumber').val();
            var billingNumber = $('#txtBillingNumber').val();
            var providerType = $('#txtProviderType').val();
            var supervisor = $('#txtSupervisor').val();

            var team = $('#txtTeam').val();
            var address = $('#txtAddress').val();
            var activity = $('#txtActivity').val();
            var comment = $('#txtComments').val();

            var init = $('#txtInit').val();
            var jobTitle = $('#txtJobTitle').val();

            var userTitle = $('#txtUserTitle').val();
            var lastUpdateUser = $('#txtLastUpdateUser').val();
            var lastUpdateDate = "2023-01-01"//$('#lastUpdateDate').val();            

            console.log("Update is called") /*,  */

            let data = JSON.stringify({
                "provider_no": providerNumber, "last_name": providerLastName, "first_name": providerFirstName, "provider_type": providerType,
                "supervisor": supervisor, "specialty": specialty, "team": team, "sex": providerSex, "dob": providerDob, "address": address, "phone": providerPhone,
                "work_phone": workPhone, "ohip_no": ohipNumber, "rma_no": rmaNumber, "billing_no": billingNumber, "hso_no": hsoNumberus, "status": status, "comments": comment,
                "provider_activity": activity, "practitionerNo": practitionerNumber, "init": init, "job_title": jobTitle, "email": email, "title": userTitle, "lastUpdateUser": lastUpdateUser,
                "lastUpdateDate": lastUpdateDate, "signed_confidentiality": "2023-01-01", "thirdPartyOnly": false, "practitionerNoType": ""
            });

            console.log("data13", data);

            const response = await fetch(APIUrl + "UpdateProvider", {
                method: 'POST',
                headers: new Headers({
                    "Content-Type": "application/json",
                }),
                body: data
                })
                .then(response => response.json())
                .then(response => {                   

                })

        }

        async function CreateNewProvider(){

            var id = $('#txtProviderNumnber').val();

            console.log('id', id);
            const response = await fetch("/Api/DataFetch/GetProvider", {
                method: 'POST',
                headers: new Headers({
                    "Content-Type": "application/json;charset=UTF-8",
                }),
                body: JSON.stringify({"id": id})
            })
            .then(response => response.text())
            .then(response => {     
                LoadProviderPopup(response);
            })

        }

        function LoadProviderPopup(result) {

            $('#popProviderBody').html(result);

            var schaduleEvent = new bootstrap.Modal(document.getElementById("popProvider"), {});
            schaduleEvent.show();

        }

        
        async function ChoosePhysician() {
            
            let physicianID = $('#txtPhysicianID').val();
            let lastName = $('#txtPhysicianLastName').val();


            const response = await fetch(APIUrl + "PhysicianSearch", {
                method: 'POST',
                headers: new Headers({
                    
                    'Content-Type': 'application/json;charset=UTF-8',
                }),
                body: JSON.stringify({ "Number": physicianID, "LastName": lastName, })
            })
                .then(response => response.json())
                .then(response => {

                    console.log(response)

                    ApplyPhysicianData(response);
                })
        }

        function SelectRefPhysician() {

            let value = GetElementAndSelectedInnerText('#PhysicianSearchResult');      
            let idElement = document.getElementById("targetId");

            let id = GetElementValueAtribute('targetId');
            let callback = GetElementValueAtribute('targetCallback');          

            if (value !== "") {

                let splited = value.split('(')

                if (callback === "AddItemToDropdownItems") {
                    AddItemToDropdownItems(splited[0], id);
                }

                if (callback === "SetDivElementText") {
                    SetDivElementText(id, splited[0])
                }
            }
        }

        function loadProviderable(result, table) {

            const tableHead = table.querySelector("thead");
            const tableBody = table.querySelector("tbody");

            let data = result;
            console.log("ldTable", result)

            //clear table
            tableHead.innerHTML = "<tr></tr>"
            tableBody.innerHTML = "";

            tableHead.querySelector("tr").appendChild(createHeaders("ID", "ColId", ["tblColumn"]))
            tableHead.querySelector("tr").appendChild(createHeaders("Name", "ColName", ["tblColumn"]))
            tableHead.querySelector("tr").appendChild(createHeaders("Type", "ColType", ["tblColumn"]))
            tableHead.querySelector("tr").appendChild(createHeaders("Specialty", "ColSpecialty", ["tblColumn"]))
            tableHead.querySelector("tr").appendChild(createHeaders("Address", "ColAddress", ["tblColumn"]))
            tableHead.querySelector("tr").appendChild(createHeaders("Work Phone", "ColWorkPhone", ["tblColumn"]))

            for (let i = 0; i < data.length; i++) {

                const rowElement = document.createElement("tr");

                rowElement.setAttribute("id", "Id" + data[i].provider_no);
                //rowElement.classList.add("Row");
                rowElement.appendChild(createCell(data[i].provider_no));
                rowElement.appendChild(createCell(data[i].last_name + "," + data[i].first_name));
                rowElement.appendChild(createCell(data[i].provider_type));
                rowElement.appendChild(createCell(data[i].specialty));
                rowElement.appendChild(createCell(data[i].address));
                rowElement.appendChild(createCell(data[i].work_phone));
                tableBody.appendChild(rowElement);
                

            }
        
        }

        async function LoadCalender() {

            const response = await fetch(APIUrl + "GetSchedule", {
                method: 'POST',
                headers: new Headers({
                    "Content-Type": "application/x-www-form-urlencoded",
                })
            })
                .then(response => response.json())
                .then(response => {

                    console.log("result:", response)

                    ShowCalanderInLine(response);

                })

           
        }

        function ShowCalanderInLine(data) {

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                height: 'parent',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                defaultView: 'dayGridMonth',
                defaultDate: Date.now(),
                height: 'parent',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: data,

                eventClick: function (info) {
                    info.jsEvent.preventDefault(); // don't let the browser navigate

                    if (info.event.url) {
                        const functionName = info.event.url;
                        eval(functionName);
                    }
                }
            });

            calendar.render();

        }
        //TDO move next functions make to shared location

  

        async function LoadEventDetail(id) {
            console.log("Load Event Detail", id);

            const response = await fetch(APIUrl + "GetScheduleEvent/" + id, {
                method: 'GET',
                headers: new Headers({
                    "Content-Type": "application/x-www-form-urlencoded",
                })
            })
                .then(response => response.json())
                .then(response => {

                    console.log("result:", response)

                    LoadSchaduleEventPopUp(response);

                })


        }

        function LoadSchaduleEventPopUp(data) {
            console.log("data", data);

            var schaduleEvent = new bootstrap.Modal(document.getElementById("popSchaduleEvent"), {});
            schaduleEvent.show();

            SetDivElementText("txtAvailable", (data.available === "1" ? "True" : "False"));
            SetDivElementText("txtStatus", (data.status === "1" ? "True" : "False"));
            SetDivElementText("txtCreator", data.creator);
            SetDivElementText("txtDate", data.date);
            SetDivElementText("txtHour", data.hour);
            SetDivElementText("txtPriority", (data.priority === "1" ? "True" : "False"));
            SetDivElementText("txtProName", data.provider_lname + ", " + data.provider_fname);
            SetDivElementText("txtSpecialty", data.priority);
            SetDivElementText("txtReason", data.reason);

        }
        

        
    </script>
}
